@model IEnumerable<EDUHOME_Final.Models.Messages>

@{
    ViewBag.Title = "ApplicationIndex";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>ApplicationIndex</h2>

<table class="table table-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Message)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Email)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Subject)
    </td>
    <td>
        @(item.Message.Length>100?item.Message.Substring(0,100)+"...":item.Message)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CreatedDate)
    </td>
    <td>
      
        @Html.ActionLink("Details", "MessageIndexDetails", new { id = item.Id }) |
        <a href="@Url.Action("MessageDelete","Home", new { id = item.Id })" onclick="return confirm('Are you sure?')">Delete</a>
    </td>
</tr>
    }


</table>
