@model List<EDUHOME_Final.Models.Course>

@foreach (var item in Model)
{
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="single-course mb-70">
            <div class="course-img">
                <a href="@Url.Action("CourseDetails","Courses",new { Id=item.Id})">
                    <img src="~/Uploads/@item.Image" alt="course">
                    <div class="course-hover">
                        <i class="fa fa-link"></i>
                    </div>
                </a>
            </div>
            <div class="course-content">
                <h3><a href="@Url.Action("CourseDetails","Courses",new { Id=item.Id})">@item.Title</a></h3>
                <p> @(item.CkEditorContent.Length>120?item.CkEditorContent.Substring(0,120)+"...":item.CkEditorContent)</p>
                <a class="default-btn" href="@Url.Action("CourseDetails","Courses",new { Id=item.Id})">read more</a>
            </div>
        </div>
    </div>
}