@model List< EDUHOME_Final.Models.Teacher>
@foreach (var item in Model)
{
    <div class="col-md-3 col-sm-4 col-xs-12">
        <div class="single-teacher mb-45">
            <div class="single-teacher-img">
                <a href="@Url.Action("TeacherDetails","Teacher",new { Id=item.Id})"><img src="~/Uploads/@item.Image" alt="teacher"></a>
            </div>
            <div class="single-teacher-content text-center">
                <h2><a href="@Url.Action("TeacherDetails","Teacher",new { Id=item.Id})">@item.Fullname</a></h2>
                <h4>@item.Position.Name</h4>
                <ul>
                    @foreach (var social in item.SocialTeachers)
                    {
                        <li><a href="@social.Link"><i class=" @social.Icon "></i></a></li>
                        
                    }
                </ul>
            </div>
        </div>
    </div>
}
